/*reset CSS dari meyerweb*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*Style CSS saya*/
body {
    font: 16px/28px elsie swash caps black, candara;
    background-color: #c5e89b;
    background-image: url('../image/daun.jpg');
    background-size: auto;
    color: #80488c;
}

.container {
    width: 1000px;
    background-color: white;
    margin: auto;
}

.header {
    padding: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px
}

.header p {
    font-size: 12px;
    font-family: candara;
    text-align: center;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: 70px;
}

.header a {
    text-decoration: none;
    color: #db92af;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
}

.header a:hover {
    color: white;
    background-color: #db92af;
}

.hero {
    border-top: 5px solid #96c161;
}

.content {
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
}

.content h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #db92af;
}

.content p {
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: #80488c;
    font-family: candara;
}

.form {
    padding: 20px;
    margin: 20px auto;
    margin-top: -10px;
    width: 900px;
    background: #ffecec;
    border-radius: 3px;
}

label {
    font-size: 16pt;
    color: #80488c;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    width: 95%;
    background: #fff;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}

.submit {
    background: #80488c;
    color: white;
    border: 0;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
}

.sosmed {
    padding: 20px;
    margin: 20px;
    margin-top: -60px;
}

.sosmed p {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    color: #80488c;
    font-family: candara;
}

.sosmed ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer {
    background-color: #db92af;
    padding: 10px;
}

.footer .copyright {
    color: #fff;
    text-align: center;
    font-size: 11;
    font-family: candara;
}


/*Format untuk form versi 2

.content {
    padding: 20px;
}

.content h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #db92af;
}

.content p {
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: justify;
    color: #80488c;
    font-family: candara;
}

.form {
    padding: 20px;
    margin: 20px;
    margin-top: -10px;
    width: 17em;
    background: #ffecec;
    border-radius: 3px;
    float: right;
}

label {
    font-size: 16pt;
    color: #80488c;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    width: 95%;
    background: #fff;
    border: 0;
    font-size: 10pt;
    margin: 6px 0px;
}

.submit {
    background: #80488c;
    color: white;
    border: 0;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
}
*/





